resources:

- name: {{ env['name'] }}
  type: container.v1.cluster
  properties:
    zone: {{ properties['zones'][0] }}
    cluster:
      description: {{ properties['description'] }}
      initialClusterVersion: '1.9.7-gke.11'
      locations: {{ properties['zones'] }}
      nodePools:
      - name: {{ env['name'] }}-pool
        initialNodeCount: {{ properties['initialNodeCount'] | default(1) }}
        config:
          machineType: {{ properties['machineType'] | default('n1-standard-1') }}
          labels: {{ properties['labels'] }}
          oauthScopes:
          - https://www.googleapis.com/auth/cloud-platform 
        autoscaling:
          enabled: true
          minNodeCount: 1
          maxNodeCount: 3
        management:
          autoUpgrade: true
          autoRepair: true
